# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

*.nix.kate-swp

.direnv
.pre-commit-config.yaml

# Disk image left behind by `nixos-rebuild build-vm` and friends
nixos.qcow2
